// Custom.scss
// Option A: Include all of Bootstrap
// Include any default variable overrides here (though functions won't be available)

$primary: #FF5294;
$secondary: rgba(67, 167, 157, 0.5);

$navbar-toggler-icon-color: rgb(67, 167, 157);


@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

.navbar-toggler-icon {
    background-color: transparent;
    background-image: url(images/navbar-toggle-icon.svg);
}


// sass --watch ./scss/custom.scss ./css/custom.css

